<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>miclightmeter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>045394EB1BE174B7005B84E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045394FE1BE174B8005B84E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>045395091BE174B8005B84E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
